<%- layout("layouts/boilerplate") %>
<script>
    const mapToken="<%= process.env.MAP_TOKEN %>";
    const listing=<%- JSON.stringify(listing)%>;
</script>


<body>
    <div class="row">
        <div class="col-6 mt-3 mb-3 offset-2">
            <h3><%= listing.title %></h3>
        </div>
    
        <div class="card col-6 offset-2 mb-3 card-listing" >
            <img src="<%=listing.image.url %>" class="card-img-top show-img" alt="listing_img">
            <div class="card-img-overlay"></div>
            <div class="card-body">
                <p class="card-text">
                    Owned by <i><%= listing.owner.username %></i> <br>
                    <%= listing.description %> <br>
                    &#x20B9;<%= listing.price.toLocaleString("en-IN") %> /night <br>
                    <%= listing.location %> <br>
                    <%= listing.country %> <br>
                </p> 
            </div>
            
        </div>

        <% if ( currUser && currUser._id.equals(listing.owner._id) ) { %>
            <div class="row mb-3">
                <div class="col-1 offset-2">
                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-info">Edit</a>
                </div>
            
                <div class="col-2 ">
                    <form method="POST" action="/listings/<%= listing._id %>?_method=delete">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% } %>
        
        <hr>

        <div class="col-7 offset-2 mb-3">
            <% if (currUser) { %>
             
            <form method="post" action="/listings/<%= listing._id %>/reviews" class="form-control needs-validation" novalidate>
                <h4>Leave a Review</h4>
                <fieldset class="starability-slot">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                
                <textarea
                    name="review[comment]" 
                    id="comment" 
                    class="form-control" 
                    rows="5" cols="5" 
                    placeholder="Write a Review.."
                    required></textarea>
                <div class="invalid-feedback">Please add comment in review</div>  <br>
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>  <hr>
            <% } %>
           
            <% if (listing.reviews.length>0) { %>
                
                <p><b>All Reviews</b></p> 
                <div class="row">
                    <% for ( review of listing.reviews) { %>
                    
                        <div class="card col-5 ms-3 mb-3">
                            <!-- <h5 class="card-header">Dilip Solanki</h5> -->
                            <div class="card-body">
                                <div class="card-title"><i>@<%= review.author.username %></i></div>
                                <div class="card-text">
                                    <p class="starability-result" data-rating="<%= review.rating %>"> </p>                                
                                </div>
                                <div class="card-text"><%= review.comment %></div>
                                <form method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                    <button class="btn btn-dark mb-2 mt-2">Delete</button>
                                </form>
                            </div>
                        </div>
                    
                    <% } %>
                </div>
                <form method="post" action="/listings/<%= listing._id %>/reviews?_method=DELETE">
                    <button class="btn btn-danger">Delete All Reviews</button>
                </form>
            <% } %>
        </div>
        
    </div>

    <div class="col-8 offset-2 mb-3">
        <h3>Where you'll be</h3>
        <div id="map"></div>
    </div>
    
    <script src="/js/map.js"></script>
</body>
